.toolbar{
  padding:1rem;
  background:#0F172A;
  border-bottom:1px solid #1E293B;
}


.container{
  display:flex;
  flex-wrap:wrap;
  gap:.75rem;
  justify-content:center;
}


/* Tablet */
@media(min-width:768px){

  .container{
    justify-content:space-between;
  }

}


/* Desktop */
@media(min-width:1024px){

  .container{
    justify-content:flex-start;
  }

}